extends base


block content
    div(class="container")
        div(class="hero-image bg-primary")
            img(src="/assets/images/whatsapp.svg" alt="logo")
            h2 WhatsApp
        div(class="form-primary txt-secondary")
            h2=formTitle
            if formId === "newUser"
                form(id=`${formId}` novalidate)
                    block inputs
                    block button
                    block description
            else
                form(id=`${formId}`)
                    block inputs
                    block button
                    block description

            block accessWith
