extends base

include mixins/contactSideChat

block content
    div.container#contact
        div.contact
            header(class="contact__options bg-gray")
                //- header
                div(class="contact__options-profile px-1")
                    img(class="contact__options-profile--img" data-id=data.user._id src=`/assets/images/users/${data.user.photo}.png` alt="user")
            
                div(class="contact__options-option")
                    div(class="contact__options-option--addfriend px-1")
                    img( src="/assets/icons/options-dots.svg" alt="options-dots")
                
                    div(class="contact__options-option--options px-2")
                    img(src="/assets/icons/plus.svg" alt="plus")
                    
                //- Search bar
            section(class="contact__search bg-gray-light p-1")
                form(class="contact__search-bar")
                    div(class="bg-secondary")
                    img(src="/assets/icons/search.svg" alt="search")
                    input(type="text" class="search-input" id="search-input" placeholder="Search or start new chat")

            section.contact__chat
                //- +contactSideChat => conversationId,userId,userName,photoName,lastMsg,lastMsgDate,lastMsgStatus = "received,send,seeing"
                each conversation in data.conversations
                    //-  Length of the new Messages
                    - let newMessagesLength= 0;
                    if conversation.lastMsg[0].lastMsg[0].senderId.toString() != data.user._id.toString()
                        - newMessagesLength = conversation.lastMsg[0].lastMsg.length;
                    
                    //- render Conversation 
                    if conversation.type === "private"
                        +contactSideChat(conversation.participants[0].username, conversation.participants[0].photo, conversation.lastMsg[0].lastMsg[0].content,conversation.lastMsg[0].lastMsg[0].dateRes,conversation.lastMsg[0].lastMsg[0].status, conversation._id,conversation.participants[0]._id, newMessagesLength)
                    else if conversation.type === "groupe"
                        +contactSideChat(conversation.groupeName, conversation.participants[0].photo, conversation.lastMsg[0].lastMsg[0].content,conversation.lastMsg[0].lastMsg[0].dateRes,conversation.lastMsg[0].lastMsg[0].status, conversation._id,conversation.participants[0]._id,newMessagesLength)

        div.messages.messages__default
            div
                img(class="messages__default--intro" src="/assets/images/intro-connection.jpg" alt="intro connection")
                h1(class="messages__default--heading") Keep your phone connected
                p(class="messages__default--description") WhatsApp connects to your phone to sync messages. To reduce data usage, connect your phone to Wi-Fi.
