extends _form


block inputs
    input(type="file" id="profilePicture" name="profilePicture")
    img(id="blah" src="#" alt="your image")
    label Add Your Profile Picture
    label(class="primary-label" for="userName"  ) Enter Your Name :
    input(type="text" class="primary-input" id="userName" name="userName" placeholder="Enter Your Name")
    label(class="primary-label" for="description" ) About :
    input(type="text" class="primary-input" id="description" name="description" placeholder="Description about Yourself")
