//- possible Arguments 
//- accessWithType: signup or login
//- accessWithDesc: String

mixin accessWith(accessWithType,accessWithDesc)
    div
        p(class="line-through")
            span=`or ${accessWithType} with`
        div( class="socialmedia")
            a( href="#")
                img( src="/assets/images/facebook.svg" alt="facebook")
            a( href="#")
                img( src="/assets/images/instagram.png" alt="instagram")
            a(href="#")
                img( src="/assets/images/google.svg" alt="google")
        p(class="txt-centered")=accessWithDesc
            a( href=`/${accessWithType==="signup"? "login" : "signup" }`)=` ${accessWithType === "signup" ? "Login" : "Create New Account"} Here`