mixin overallAnimation
    div(class="overall animate__animated hide")
      img(src="/assets/images/whatsapp.svg" class="logo" alt="whatsapp")
      div(class="card animate__animated animate__fadeInUp animate__delay-1s")
        block
            
