.iti-flag {
  background-image: url('/assets/images/flags.png');
}
/* 

FONT-WEIGHT:
  Thin 100    
  Light 200
  Regular 400
  Medium 500
  Bold 700 
*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 16px;
  line-height: 1.4;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  overflow: hidden;
}

/* utils */

.container {
  display: grid;
  grid-template-rows: 1fr 3fr;
}

a {
  color: #085e55;
  text-decoration: none;
  font-weight: 700;
}
/* BUTTON */
.button {
  width: 100%;
  border: none;
  border-radius: 10px;
  font-size: 18px;
  padding: 15px 0;
  outline: none;
  cursor: pointer;
}
.button-small {
  width: 20%;
}
/* TEXT */

p {
  font-size: 0.8rem;
}

.bg-gray {
  background-color: #ededed;
}

.bg-gray-light {
  background-color: #f6f6f6;
}

.bg-primary {
  background-color: #1bd741;
}

.hide {
  display: none;
}

.txt-centered {
  text-align: center;
}

.txt-primary {
  color: #1bd741;
}

.txt-secondary {
  color: #085e55;
}

.center {
  display: flex;
  justify-content: center;
}

.small-txt {
  font-size: 12px;
}

.strong {
  font-weight: 700;
  opacity: 1;
}

.descption-text {
  margin-top: 10px;
  opacity: 0.8;
}

.align-right {
  text-align: right;
}

.full-width {
  width: 100%;
}

/* Spacing */
.py-1 {
  padding: 0.5rem 0;
}
.py-2 {
  padding: 1rem 0;
}
.py-3 {
  padding: 1.5rem 0;
}
.px-1 {
  padding: 0 0.5rem;
}
.px-2 {
  padding: 0 1rem;
}
.px-3 {
  padding: 01.5rem;
}
.p-1 {
  padding: 0.5rem;
}
.p-2 {
  padding: 1rem;
}
.p-3 {
  padding: 1.5rem;
}

.border-divider {
  border-bottom: 1px solid #ebebeb;
  height: 1px;
  width: 100%;
}
/* Description */
#email-desc {
  color: red;
}

/* alert  */
.alert {
  position: fixed;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  z-index: 9999;
  color: #fff;
  font-size: 1rem;
  width: 90%;
  font-weight: 400;
  text-align: center;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  padding: 1rem;
  -webkit-box-shadow: 0 2rem 2rem rgba(0, 0, 0, 0.1);
  box-shadow: 0 2rem 2rem rgba(0, 0, 0, 0.1);
}
.alert--success {
  background-color: #20bf6b;
}
.alert--error {
  background-color: #eb4d4b;
}
/* INPUT */
.primary-input {
  background-color: transparent;
  width: 100%;
  border: none;
  border-bottom: 1px solid #1bd741;
  outline: none;
  padding: 10px;
  color: #000;
}

.primary-label {
  display: block;
  margin-top: 20px;
  font-weight: 500;
  font-size: 14px;
}

/* Hero Image */
.hero-image {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 50px 0;
}

.hero-image img,
.hero-image svg {
  width: 20%;
  margin-bottom: 10px;
}

.hero-image h2 {
  color: #fff;
  font-weight: 500;
}

/* Form Section */

.form-primary {
  width: 80%;
  margin: 0 auto;
  margin-top: 30px;
}

.form-primary h2 {
  text-align: center;
  margin-bottom: 10px;
}

/* OTP INPUT */

#digit-group {
  margin-top: 30px;
}
#digit-group input {
  width: 40px;
  height: 50px;
  border-radius: 10px;
  border: none;
  background-color: #ecf9ef;
  line-height: 50px;
  text-align: center;
  font-size: 24px;
  font-weight: 200;
  color: #1bd741;
  margin: 0 3px;
  outline: none;
}
#digit-group a {
  display: block;
}

/* Set the phone input to full width */
.iti {
  width: 100%;
}

.form-primary .password-field {
  position: relative;
}
.form-primary .password-field .toggle-password {
  position: absolute;
  right: 0;
}

.form-primary .button-primary {
  color: #fff;
  font-weight: 400;
  margin: 20px 0;
}

.form-primary .forget-password {
  margin-bottom: 30px;
}

#digit-group button,
#resetPassword button {
  margin-bottom: 0 !important;
}

/* Line through  */
.line-through {
  width: 100%;
  text-align: center;
  border-bottom: 1px solid rgba(68, 68, 68, 0.5);
  line-height: 0.1em;
  margin: 10px 0 20px;
}

.line-through span {
  background: #fff;
  color: rgba(68, 68, 68, 0.7);
  padding: 0 10px;
}

/* social media */
.socialmedia {
  display: flex;
  justify-content: space-around;
  margin: 2.5rem 0;
}
.socialmedia img {
  width: 70px;
  height: 70px;
  border: 1px solid rgba(68, 68, 68, 0.2);
  border-radius: 50%;
  padding: 20px;
}

/* Contact */
.contact__options,
.contact__options-option {
  display: flex;
  align-items: center;
}

.contact__options {
  justify-content: space-between;
  padding: 0.4rem;
}
.contact__options-option--addfriend {
  padding-right: 1rem;
}

.contact__options-profile--img {
  width: 40px;
  border-radius: 50%;
}
.contact__search-bar {
  position: relative;
}

.contact__search-bar input {
  width: 100%;
  padding: 10px 50px;
  border: none;
  border-radius: 25px;
  outline: none;
  color: #999;
  font-weight: 100;
}

.contact__search-bar img {
  position: absolute;
  top: 15%;
  left: 2%;
}

.contact__search-bar {
  top: 10%;
}

/* Chat user  */
.contact__chat {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  height: 85vh;
}

.contact__chat .active,
.contact__chat .active:hover {
  background-color: #d4d4d4;
}

.contact__chat-msg:hover {
  background-color: #ebebeb;
}
.contact__chat-msg {
  display: flex;
  align-items: center;
}

/* Scroll bar */
::-webkit-scrollbar {
  width: 7px;
  margin-top: 100px;
  margin-bottom: 100px;
}
::-webkit-scrollbar-track {
  background-color: #fff;
}
::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.2);
}

.contact__chat-msg img {
  width: 50px;
  border-radius: 50%;
  margin-right: 15px;
}

.contact__chat-msg--lastmsgdate {
  margin-left: auto;
  font-size: 12px;
  font-weight: 200;
  color: #727272;
  align-self: flex-start;
}
.contact__chat-msg--name span {
  font-weight: 500;
  font-size: 16px;
}

.contact__chat-msg--name div {
  display: flex;
}

.contact__chat-msg--name div p {
  margin-left: 5px;
  font-size: 14px;
  color: #727272;
}

.contact__chat-msg--name svg {
  margin-top: 2px;
}

.contact__chat .border-divider {
  width: 90%;
  margin-left: auto;
  margin-top: -1px;
}

/* Error Page */

#error {
  position: relative;
  height: 100vh;
}

#error .error {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.error {
  max-width: 460px;
  width: 100%;
  text-align: center;
  line-height: 1.4;
}

.error .error-symbol {
  position: relative;
  width: 180px;
  height: 180px;
  margin: 0px auto 50px;
}

.error .error-symbol > div:first-child {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: #ffa200;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  border: 5px dashed #000;
  border-radius: 5px;
}

.error .error-symbol > div:first-child:before {
  content: '';
  position: absolute;
  left: -5px;
  right: -5px;
  bottom: -5px;
  top: -5px;
  -webkit-box-shadow: 0px 0px 0px 5px rgba(0, 0, 0, 0.1) inset;
  box-shadow: 0px 0px 0px 5px rgba(0, 0, 0, 0.1) inset;
  border-radius: 5px;
}

.error .error-symbol h1 {
  color: #000;
  font-weight: 700;
  margin: 0;
  font-size: 90px;
  position: absolute;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  left: 50%;
  text-align: center;
  height: 40px;
  line-height: 40px;
}

.error h2 {
  font-size: 33px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 7px;
}

.error p {
  color: #000;
  font-weight: 400;
  margin: 0 0 10px 0;
}

.error a {
  display: inline-block;
  padding: 10px 25px;
  background-color: #8f8f8f;
  border: none;
  border-radius: 40px;
  color: #fff;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  -webkit-transition: 0.2s all;
  transition: 0.2s all;
}

.error a:hover {
  background-color: #20bf6b;
}

/* Create Profile */
.profile {
  text-align: center;
}
.profile h2 {
  font-size: 1.8rem;
}
.profile label {
  text-align: left;
  font-size: 1rem;
}

.profile input {
  margin: 10px 0;
}

#profilePicture {
  color: transparent;
  outline: none;
  width: 100px;
  display: block;
  margin-top: 25px;
  margin-left: 50%;
  transform: translateX(-50%);
}
#profilePicture::-webkit-file-upload-button {
  visibility: hidden;
}
#profilePicture::before {
  content: '';
  display: block;
  border-radius: 50%;
  background: url('/assets/icons/createProfile.svg') no-repeat center center/cover;
  width: 100px;
  height: 100px;
  cursor: pointer;
  margin: 0px;
}

/* overAll Animation */

.overall {
  width: 100vw;
  height: 100vh;
  background-color: #1bd741;
}

.overall .card {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.overall .contact__chat-msg {
  background-color: #fff;
  width: 80%;
  border-radius: 15px;
}

.overall .contact__chat-msg img {
  width: 60px;
}
.overall .contact__chat-msg--name span {
  font-size: 18px;
}

.overall .contact__chat-msg--name svg {
  width: 18px;
  height: 18px;
}

.overall .logo {
  position: absolute;
  top: 3%;
  left: 5%;
  width: 100px;
}

@media screen and (max-height: 750px) and (max-width: 500px) {
  body {
    overflow: scroll;
  }
}

@media screen and (min-width: 700px) {
  body {
    line-height: 1.6;
    font-size: 18px;
    overflow: hidden;
  }
  .container {
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 2fr;
    height: 100vh;
  }
  .alert {
    left: 67%;
    width: auto;
  }
  .hero-image img,
  .hero-image svg {
    width: 40%;
  }
  .hero-image h2 {
    font-size: 38px;
    font-weight: 700;
  }
  .form-primary {
    align-self: center;
    width: 70%;
  }
  .form-primary h2 {
    font-weight: 700;
  }
  .form-primary label {
    margin-top: 20px;
  }
  #digit-group input {
    margin: 0 5px;
  }

  .center .button {
    width: 40%;
  }

  .descption-text {
    width: 70%;
    margin: 10px auto;
  }

  #email-desc,
  #password-desc {
    margin-top: 10px;
    margin-left: auto;
  }
  .socialmedia {
    width: 70%;
    margin: 2.5rem auto;
  }
  .socialmedia img {
    width: 80px;
    height: 80px;
  }
  /* Create Profile */
  .profile {
    width: 50%;
  }

  .profile button {
    width: 20%;
    margin-left: 80% !important;
  }
  /* Overall Animation */
  .overall .contact__chat-msg {
    width: 60%;
    border-radius: 25px;
  }

  .overall .contact__chat-msg img {
    width: 70px;
  }
  .overall .contact__chat-msg--name svg {
    width: 20px;
    height: 20px;
  }
}
