.iti-flag {
  background-image: url('../../node_modules/intl-tel-input/build/img/flags.png');
}
/* 

FONT-WEIGHT:
  Thin 100    
  Light 300
  Regular 400
  Medium 500
  Bold 700 
*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 16px;
  line-height: 1.4;
  font-family: 'Roboto', sans-serif;
  color: #085e55;
}

/* utils */

.container {
  display: grid;
  grid-template-rows: 1fr 3fr;
}
a {
  color: #085e55;
  text-decoration: none;
  font-weight: 700;
}

.button {
  width: 100%;
  border: none;
  border-radius: 10px;
  font-size: 18px;
  padding: 15px 0;
  outline: none;
  cursor: pointer;
}
.txt-centered {
  text-align: center;
}

.txt-primary {
  color: #1bd741;
}

.primary-input {
  background-color: transparent;
  width: 100%;
  border: none;
  border-bottom: 1px solid #1bd741;
  outline: none;
  padding: 10px;
  color: #000;
}

.primary-label {
  display: block;
  margin-top: 20px;
  font-weight: 500;
  font-size: 14px;
}

/* Hero Image */
.hero-image {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color: #1bd741;
  padding: 50px 0;
}

.hero-image img {
  width: 20%;
  margin-bottom: 10px;
}

.hero-image h2 {
  color: #fff;
  font-weight: 500;
}

/* Form Section */

.form-primary {
  width: 80%;
  margin: 0 auto;
  margin-top: 30px;
}

.form-primary h2 {
  text-align: center;
  margin-bottom: 10px;
}

/* OTP INPUT */

.digit-group {
  margin-top: 40px;
}
.digit-group input {
  width: 40px;
  height: 50px;
  border-radius: 10px;
  border: none;
  background-color: #ecf9ef;
  line-height: 50px;
  text-align: center;
  font-size: 24px;
  font-family: 'Roboto', sans-serif;
  font-weight: 200;
  color: #1bd741;
  margin: 0 2px;
  outline: none;
}

.descption-otp {
  font-size: 12px;
  margin-top: 20px;
}

/* Set the phone input to full width */
.iti {
  width: 100%;
}

.form-primary .password-field {
  position: relative;
}
.form-primary .password-field .toggle-password {
  position: absolute;
  right: 0;
}

.form-primary .button-primary {
  background: #1bd741;
  color: #fff;
  font-weight: 400;
  margin: 20px 0;
}

.form-primary .forget-password {
  margin-bottom: 30px;
}

/* Line through  */
.line-through {
  width: 100%;
  text-align: center;
  border-bottom: 1px solid rgba(68, 68, 68, 0.5);
  line-height: 0.1em;
  margin: 10px 0 20px;
}

.line-through span {
  background: #fff;
  color: rgba(68, 68, 68, 0.7);
  padding: 0 10px;
}

/* social media */
.socialmedia {
  display: flex;
  justify-content: space-around;
  margin: 2.5rem 0;
}
.socialmedia img {
  width: 70px;
  height: 70px;
  border: 1px solid rgba(68, 68, 68, 0.2);
  border-radius: 50%;
  padding: 20px;
}

@media screen and (min-width: 700px) {
  body {
    line-height: 1.6;
    font-size: 18px;
    overflow: hidden;
  }
  .container {
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 2fr;
    height: 100vh;
  }
  .hero-image img {
    width: 40%;
  }
  .hero-image h2 {
    font-size: 38px;
    font-weight: 700;
  }
  .form-primary {
    align-self: center;
    width: 90%;
  }
  .form-primary h2 {
    font-weight: 700;
  }
  .form-primary label {
    margin-top: 20px;
  }

  .form-primary .button-primary {
    margin: 30px 0;
  }

  .socialmedia {
    width: 70%;
    margin: 2.5rem auto;
  }
  .socialmedia img {
    width: 80px;
    height: 80px;
  }
}
