<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css"
      integrity="sha512-1PKOgIY59xJ8Co8+NE6FZ+LOAZKjy+KY8iq0G4B3CyeY6wYHN3yt9PW0XpSriVlkMXe40PTKnXrLnZ9+fkDaog=="
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="../../public/styles/style.css" />
    <link
      rel="stylesheet"
      href="../../node_modules/intl-tel-input/build/css/intlTelInput.min.css"
    />
    <title>Log In</title>
  </head>
  <body>
    <div class="container">
      <div class="hero-image bg-primary">
        <img src="../../public/assets/icons/logo.svg" alt="whatsapp" />
        <h2>WhatsApp</h2>
      </div>

      <div class="form-primary txt-secondary">
        <h2>Login to Your Account</h2>
        <form>
          <div>
            <label class="primary-label" for="tel"> Email </label>
            <input class="primary-input" type="email" id="email" required />
          </div>
          <label class="primary-label" for="password"> Password </label>
          <div class="password-field">
            <input autocomplete="on" class="primary-input" type="password" id="password" required />
            <span toggle="#password" class="far fa-eye field-icon toggle-password"></span>
          </div>

          <button type="submit" class="button button-primary bg-primary">Login</button>
          <p class="txt-centered forget-password">
            <a href="/dev-data/templates/resetPassword.html"> Forget Password?</a>
          </p>
        </form>

        <div>
          <p class="line-through"><span>or login with</span></p>
          <div class="socialmedia">
            <a href="#"
              ><img src="../../public/assets/icons/socialMedia/facebook.svg" alt="facebook"
            /></a>
            <a href="#"
              ><img src="../../public/assets/icons/socialMedia/instagram.png" alt="instagram"
            /></a>
            <a href="#"
              ><img src="../../public/assets/icons/socialMedia/google.svg" alt="google"
            /></a>
          </div>
        </div>
        <p class="txt-centered">
          Don't have an account? <a href="/dev-data/templates/signup.html">Create New</a>
        </p>
      </div>
    </div>
    <script src="../../public/scripts/bundle.js"></script>
  </body>
</html>
