<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css"
      integrity="sha512-1PKOgIY59xJ8Co8+NE6FZ+LOAZKjy+KY8iq0G4B3CyeY6wYHN3yt9PW0XpSriVlkMXe40PTKnXrLnZ9+fkDaog=="
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="../../public/styles/style.css" />
    <title>New Password</title>
    <style>
      body {
        overflow: hidden;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <div class="hero-image bg-primary">
        <img src="../../../public/assets/images/whatsapp.svg" alt="whatsapp" />
        <h2>WhatsApp</h2>
      </div>
      <div class="form-primary txt-secondary">
        <h2>Set New Password</h2>
        <form id="resetPassword">
          <label class="primary-label" for="newPassword">New Password </label>
          <div class="password-field">
            <input
              autocomplete="on"
              class="primary-input"
              type="password"
              id="newPassword"
              required
            />
            <span toggle="#newPassword" class="far fa-eye field-icon toggle-password"></span>
            <p class="txt-secondary align-right hide" id="password-desc">
              Strength: <span class="strong" id="passwordStrength"></span>
            </p>
          </div>
          <label class="primary-label" for="confirmPassword">Confirm Password </label>
          <div class="password-field">
            <input
              autocomplete="on"
              class="primary-input"
              type="password"
              id="confirmPassword"
              required
            />
            <span toggle="#confirmPassword" class="far fa-eye field-icon toggle-password"></span>
            <p class="txt-secondary align-right hide full-width" id="password-desc">
              Password: <span class="strong" id="passwordMatch"></span>
            </p>
          </div>
          <div class="center">
            <button
              type="submit"
              class="button button-primary bg-primary"
              id="btn-submit"
              style="margin-bottom: 0"
            >
              Change
            </button>
          </div>
          <p class="descption-text txt-centered small-txt">
            Your new password must be of Min 8 characteres and combination of at least
            <span class="strong"
              >1 Special character, 1 Upper case, 1 Lower case and 1 Numeric character.</span
            >
          </p>
        </form>
      </div>
    </div>
    <script src="../../public/scripts/bundle.js"></script>
  </body>
</html>
