<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../public/styles/style.css" />
    <title>Verify Number</title>
    <style>
      body {
        overflow: hidden;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <!-- Hero image -->
      <div class="hero-image bg-primary">
        <img src="../../../public/assets/images/whatsapp.svg" alt="whatsapp" />
        <h2>WhatsApp</h2>
      </div>
      <!-- Form -->
      <div class="form-primary txt-secondary">
        <h2>Verify +212 (622) 088-092</h2>
        <form class="digit-group" autocomplete="off">
          <div class="center">
            <input type="text" id="digit-1" data-next="digit-2" maxlength="1" required />
            <input
              type="text"
              id="digit-2"
              data-next="digit-3"
              maxlength="1"
              data-previous="digit-1"
              required
            />
            <input
              type="text"
              id="digit-3"
              data-next="digit-4"
              maxlength="1"
              data-previous="digit-2"
              required
            />
            <input
              type="text"
              id="digit-4"
              data-next="digit-5"
              maxlength="1"
              data-previous="digit-3"
              required
            />
            <input
              type="text"
              id="digit-5"
              data-next="digit-6"
              maxlength="1"
              data-previous="digit-4"
              required
            />
            <input type="text" id="digit-6" maxlength="1" data-previous="digit-5" required />
          </div>
          <div class="center">
            <button type="submit" id="btn-submit" class="button button-primary bg-primary">
              Sign Up
            </button>
          </div>
          <p class="descption-text txt-centered small-txt">
            You can send request again, if you have not received OTP sent on your registered device.
            <a href="#" class="txt-primary">Resend OTP</a>
          </p>
        </form>
      </div>
    </div>

    <script src="../../public/scripts/bundle.js"></script>
  </body>
</html>
